---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { queryWordPress } from "../lib/wordpress";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

// 1. Get the URL from your .env file
const API_URL = import.meta.env.WORDPRESS_API_URL;

// 2. Define the GraphQL query
const query = `
{
  posts {
    nodes {
      title
      slug
      excerpt
    }
  }
}
`;

const QUERY_BANNER = `
{
page(id: "home", idType: URI) {
    pageSettings {
      bannerTitle
      bannerImage {
        node {
          sourceUrl
          altText
        }
      }
    }
}
}`;

// 3. Fetch the data from WordPress
const response = await fetch(API_URL, {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({ query }),
});

const { data } = await response.json();
const posts = data.posts.nodes;

const pagedata = await queryWordPress(QUERY_BANNER);
const finaldata = pagedata?.page || {};

// Destructure the ACF fields
const { bannerTitle, bannerImage } = finaldata?.pageSettings || {};

// Use ACF title if it exists, otherwise use the WordPress page title
const displayTitle = bannerTitle || finaldata?.title;

// Use ACF image if it exists, otherwise use a fallback
const displayImage = bannerImage || "/assets/images/greenforest.webp";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  </head>
  <body>
    <Header />

    <section
      class="banner-section home"
      style={`background-image: url(${displayImage?.node?.sourceUrl});`}
    >
      <div class="container">
        <div class="banner-content">
          <h1 class="main-title">{displayTitle}</h1>
        </div>
      </div>
    </section>

    <h1>Latest Blog Posts</h1>

    {
      posts.map((post) => (
        <article>
          <h2>{post.title}</h2>
          {/* set:html is used because WordPress sends excerpt as HTML tags */}
          <div set:html={post.excerpt} />
          <a href={`/blog/${post.slug}`}>Read Full Post</a>
        </article>
      ))
    }
    <Footer />
  </body>
</html>
